*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karantina', cursive;
    font-family: 'Karla', sans-serif;
}

body{
    background-color: black;
}

.centro{
    width: 1200px;
    margin: 0 auto;
    margin-top: 200px;
}

.perfis{
    position: relative;
    width: 150px;
    height: 150px;
    margin-left: 110px;
    display: inline-block;
}


.perfis img{
    width: 100%;
}

.perfis h2{
    color: white;
    text-align: center;
}

.centro h1{
    color: white;
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
}