*{
    padding: 0;
    margin: 0;
    font-family:'Rouge Script', cursive;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --text-color: white;
    --text-color2: #; 
    --bg-color: #9e8064;
    --second-color: #ffffff;
    --big-font:5rem;
    --p-font:1.2rem; 
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.logo{
    display: flex;
    align-items: ri;
    color: var(--text-color2);
    font-size: 25px;
    font-weight: bold;
}

.img{
    font-size: 10px;
}

.navlist{
    display: flex;
}

.navlist a{
    font-size: var(--p-font); 
    color: var(--text-color);
    font-weight: 600px;
    font-size: 20px;
    margin: 0 15px;
    transition: all ease 0.55s;
    padding-right: 5px;
}   

.navlist a:hover{
    color: var(--main-color);
}

header{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;                                                         
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
    background-color: #8d6e51 ;
    letter-spacing: 3px;
}


.conteudo{
    position: relative;
    width: 100%;
    height: 100vh; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.conteudo-texto h1{
font-size: var(--big-font);
line-height: 1.3;
font-weight: 800;
padding-left: 30px;
padding-top: 85px ;
}

.conteudo-texto h4{
    margin: 5px 0;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-left: 30px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.conteudo-texto p{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 26px;
    max-width: 500px; 
    margin-bottom: 1.5rem;
    padding-left: 30px;
}

.conteudo-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap:30px;
}

.box{
    background-color: var(--main-color);
    border-radius: 1rem;
    box-shadow: 5px 5px 30px black;
    transition: all ease  .25s;
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}

.loja{
    background-color: var(--main-color);
    border-radius: 1rem;
    box-shadow: 5px 5px 30px black;
    transition: all ease  .25s;
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}

.box img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}


.box:hover{
    transform: translateY(-5px) scale(1.1);
}

 .imagem-loja{
     padding-left: 50px;
 }
  

