*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kaisei HarunoUmi', serif;;
}

body{
    background-color:black;
}

header{

    background-image: url(../imagens/Design\ sem\ nome\ \(2\).png); 
    min-height: 450px ;
    padding: 30px 0;
    background-size: cover;
    background-position: center;
    background-color:  black;
    max-width: 100%;
    margin: 15px;
}

.conteiner{
    width: 2000px;
    height: 687px;
    flex-shrink: 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo{

    width: 103px;
    height: 150px;
    top: -50px;
    border-radius: 0px 0px 50px 0px;
    position: relative;
    background-image: url(../imagens/logo.jpg);
    z-index: 2;
    background-size: 100% 100%;
    float: left;
}

.menu-desktop{

    float: right;
}

.menu ul{

    list-style: none;
}

.menu li{

    display: inline-block;
    margin: 0 20px;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 21px;
}

.chamada input[type="email"]:focus{outline: 0;}

.chamada input[type="email"]{
    width: 300px;
    height: 41px;
    border-radius: 100px;
    background-color: #fff;
    font-size: 17px;
    border: 0;
    padding-left: 10px;
}

.chamada input[type="submit"]{
    width: 180px;
    height: 41px;
    border-radius: 100px;
    background: white ;
    font-size: 17px;
    cursor: pointer;
    margin-top: 20px;
    border: 0;
}

.chamada{

    padding: 150px 0;
}

.chamada p{

    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    max-width: 500px;
}

.chamada h2{

    color: #fff;
    font-size: 40px;
    margin-top: 10px;
}

.sobre-jogo h3{
    color: #fff;
    font-size: 40px;
    margin-top: 600px;
}

.circulo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: white;
    margin-top: -760px;
    margin-left: 1360px;
    font-size: 80px;
}

.bx{
    margin-bottom: 60px;
    margin-left: 10px;
}

.jogo{
    background-color: #000000;
    width: 2000px;
    height: 687px;
    flex-shrink: 0;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2%;
    margin-top: 750px;

}

.quadrado{
    background-color: #BC0000;
    width: 400px;
    height: 600px;
    margin-left: 1000px;
}

.imgcorrida{
    background-image: url(../imagens/Corridapucca.jpg);
    width: 490px;
    height: 450px;
    background-size: 500px;
    margin-left: 850px;
    margin-top: -530px;
    
    
}
